{{>header}}
{{>navbar}}
<form method="post" action="/editLogic/{{userData.id}}">
    <div class="mb-3">
        <input name="id" placeholder="Your name" class="form-control" value="{{userData.id}}" disabled>
    </div>
    <div class="mb-3">
        <input name="name" placeholder="Your name" class="form-control" value="{{userData.name}}">
    </div>
    <div class="mb-3">
        <input name="email" placeholder="Your email" class="form-control"  value="{{userData.email}}">
    </div>
    <div class="mb-3">
        <input name="age" placeholder="Your age" class="form-control"  value="{{userData.age}}">
    </div>
    <div class="mb-3">
            <button class="btn btn-primary">Edit User</button>
    </div>
</form>
{{>footer}}